#include <dt-bindings/zmk/matrix_transform.h>
&i2c0 {
    status = "okay";

    oled: ssd1306@3c {
        compatible = "solomon,ssd1306fb";
        reg = <0x3c>;
        label = "DISPLAY";
        width = <128>;
        height = <32>;
        segment-offset = <0>;
        page-offset = <0>;
        display-offset = <0>;
        multiplex-ratio = <31>;
        segment-remap;
        com-invdir;
        com-sequential;
        prechargep = <0x22>;
        inversion-on;
    };
};


/ {

    chosen {
        zmk,kscan = &kscan0;
        zmk,matrix-transform = &default_transform;
        // Other chosen items
        zephyr,display = &oled;
    };

    aliases {
        led-red = &led0;
        led-green = &led1;
        led-blue = &led2;
    };

    kscan0: kscan0 {
        compatible = "zmk,kscan-gpio-matrix";
        wakeup-source;
        col-gpios
            = <&gpio1 6 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&gpio1 1 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&gpio1 2 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&gpio1 7 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            ;
        row-gpios
            = <&gpio0 10  (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&gpio0 9  (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            ;
    };

    default_transform: keymap_transform0 {
        compatible = "zmk,matrix-transform";
        columns = <4>; // Length of the "col-gpios" array
        rows = <2>; // Length of the "row-gpios" array
        map = <
            RC(0,0) RC(0,1) RC(0,2) RC(0,3)
            RC(1,0) RC(1,1) RC(1,2) RC(1,3)
        >;
    };

    rotary_encoder: encoder0 {
        compatible = "alps,ec11";
        a-gpios = <&gpio1 0 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
        b-gpios = <&gpio0 24 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
        steps = <24>;
        status = "okay";
    };

    sensors: sensors {
        compatible = "zmk,keymap-sensors";
        sensors = <&rotary_encoder>;
        triggers-per-rotation = <12>;
    };

    leds {
        compatible = "gpio-leds";
        status = "okay";
        led0: led_0 {
            gpios = <&gpio0 31 GPIO_ACTIVE_LOW>;  // red LED, connected to P0.31
        };
        led1: led_1 {
            gpios = <&gpio0 29 GPIO_ACTIVE_LOW>;  // green LED, connected to P0.29
        };
        led2: led_2 {
            gpios = <&gpio0 2 GPIO_ACTIVE_LOW>;  // blue LED, connected to P0.02
        };
    };

    soft_off_wakers {
        compatible = "zmk,soft-off-wakeup-sources";
        wakeup-sources = <&kscan0>;
    };
};