#define ZMK_POINTING_DEFAULT_MOVE_VAL 1500  // default: 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 30    // default: 10

#include <dt-bindings/zmk/pointing.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/mouse.h>
#include <dt-bindings/zmk/bt.h>

/ {
    behaviors {
        encoder_wheel: encoder_wheel {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;
            tap-ms = <100>;
        };
    };
    keymap {
        compatible = "zmk,keymap";

        default_layer { // Layer 0
            display-name = "base";
            bindings = <
                &mkp LCLK    &mkp MCLK    &mkp RCLK   &mo 2
                &kp LC(Z)    &msc LC(C)   &kp LC(V)   &to 1
            >;
            sensor-bindings = <&encoder_wheel>;
        };

        fusion_layer { // Layer 0
            display-name = "Fusion";
            bindings = <
                &kp L      &kp R       &kp C      &kp D
                &kp LSHFT  &kp LCTRL   &kp LALT   &to 0
            >;
            sensor-bindings = <&encoder_wheel>;
        };
    };
 };